<section class="jumbotron text-center" >

<h1>Your incoming rollovers</h1>

<% @rollovers.each do |rollover| %>
  <ul>
  <li><p>Amount:<%= rollover.amount%></p></li>
    <p>Destination: <%= rollover.institution.name %></p>
  </ul>
  <%end%>

</section>
 

